*.db
*.DS_Store
*.egg-info
*.log
*.pot
*.pyc
*.swp
local_settings.py
venv

# IDE files
.project
.pydevproject
PYSMELLTAGS

# Test files
.coverage
coverage.xml
violations.txt
nosetests.xml
/htmlcov/*
/.tox/*

settings_local.py
